#title {
    animation-name: scaleIn, fadeIn, textShift;
    animation-duration: 1s, 1s, 1s;
    animation-delay: 0s, 0s, 3.5s;
    animation-fill-mode: forwards;
}

#bocksImg {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards;
}

#arrowImg {
    animation-name: fadeIn, nudge;
    animation-duration: 1s, 1s;
    animation-delay: 4s, 5s;
    animation-fill-mode: backwards;
}

html {
    background-color: var(--backgroundColor);
    animation-name: fadeToPurple;
    animation-duration: 2s;
}

body {
    animation-name: lockScroll;
    animation-delay: 4s;
    animation-fill-mode: both;
}

@keyframes fadeToPurple {
    from {background-color: black}
    to {background-color: var(--backgroundColor)}
}

@keyframes lockScroll {
    from {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        scale: 0.8;
        transform: translateY(10%);
    }
    to {
        scale: 1;
        transform: translateY(0%);
    }
}

@keyframes textShift {
    from {
        padding-top: 35vh;
    }
    to {
        padding-top: 15vh;
    }
}

@keyframes nudge {
    0%, 100% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0%);
    }
}

@keyframes bocksUp {
    from {
        opacity: 0;
        padding-top: 5vh;
    }
    to {
        opacity: 1;
        padding-top: 0vh;
    }
}