@font-face {
    font-family: ComicSans;
    src: url("../fonts/ComicSans.ttf");
}

@font-face {
    font-family: Consolas;
    src: url("../fonts/Consolas.ttf");
}

#title {
    font-size: 5em;
    font-weight: 700;
    font-family: 'Poppins';
    height: 100%;
    width: 100%;
    padding-top: 35vh;
    text-align: center;
    color: #978bff;
}

#highlighted {
    font-family: 'ComicSans';
    font-size: 1.1em;
    font-weight: 700;
    color: #998FC3;
    line-height: 0.8;
}

#bocksImg {
    position: fixed;
    top: -10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    object-fit: contain;
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 45px);
    z-index: -1;
}

#arrowImg {
    width: 3em;
    height: 3em;
    display: block;
    margin: auto;
    transform: translateY(-20%);
    z-index: -1;
}

.about {
    opacity: 0;
    transition: 0.1s;

    div {
        width: 80%;
        margin: auto;
    }

    h1, p, a {
        color: #978bff;
        font-family: 'Poppins';
    }

    h1 {
        font-size: 4em;
        font-weight: 700;
    }

    p {
        font-size: 2em;
        font-weight: 300;
    }

    a {
        text-decoration: underline; 
    }
}

html {
    background-color: rgb(24, 19, 75);
    scrollbar-width: none;  
    scroll-behavior: smooth;
}