/* Variables */

:root {
    --backgroundColor: rgb(24, 19, 75);
    --titleColor: #978bff;
    --titleSecondaryColor: #998FC3;
    --shadowColor: #c0baff;
}

/* General website element styling */

.title, .text {
    font-family: 'Poppins';
    height: 100%;
    width: 100%;
}

.title {
    font-size: 4em;
    font-weight: 700;
}

.text {
    font-size: 1.5em;
    font-weight: 500;
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 2em;
        font-weight: 700;
    }

    .text {
        font-size: 1.25em;
        font-weight: 500;
    }
}

.about {
    opacity: 0;
    transition: 0.15s;
}



html {
    background-color: var(--backgroundColor);
    animation-name: fadeToPurple;
    animation-duration: 2s;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    scroll-behavior: smooth;
}

html::-webkit-scrollbar { 
    display: none; 
}



body {
    height: 100%;
    overflow: hidden;
    animation-name: lockScroll;
    animation-delay: 4s;
    animation-fill-mode: both;
    transition: 0.5s;
}

.start {
    width: 100%;
    height: 5vh;
}



.start .title {
    font-size: 5em;
    text-align: center;
    padding-top: 35vh;
    color: var(--titleColor);
    filter: drop-shadow(var(--shadowColor) 0px 0px 45px);
    animation-name: fadeIn, textShift;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 3.5s;
    animation-fill-mode: forwards;
    transition: 0.15s;
}

@media only screen and (max-width: 700px) {
    .start .title { 
        font-size: 2.5em;
        text-align: center;
        padding-top: 20vh;
        color: var(--titleColor);
        filter: drop-shadow(var(--shadowColor) 0px 0px 45px);
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        transition: 0.15s;
    }
}

#highlighted {
    font-family: 'ComicSans';
    font-size: 1.1em;
    font-weight: 700;
    color: var(--titleSecondaryColor);
    line-height: 0.8;
}

/* Dynamic moving bocks */


.bocks {
    position: absolute;
    width: 100%;
    height: 70vh;
    animation-name: bocksUp;
    animation-delay: 3.5s;
    animation-fill-mode: both;
    animation-duration: 1.5s;
    z-index: -1;
    overflow-x: clip;
    overflow-y: visible;
}

.bocks #bocksImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 45px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Scroll indicator */



#arrowImg {
    width: 3em;
    height: 3em;
    display: block;
    padding-top: 5vh;
    margin: auto;
    transform: translateY(-20%);
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 45px);
    z-index: -1;
    transition: 0.15s;
}

/* About: bocks (ab) */

#abDiv {
    width: 80%;
    margin: auto;
}

#abTitle, #abText {
    color: var(--titleColor);
}

.spacer {
    width: 100%
}