@media only screen and (max-width: 700px) {
    #title {
        font-size: 10vw;
        font-weight: 700;
        padding-top: 35vh;
    }

    #bocksImg {
        top: -10vh;
        left: -50vw;
        width: 200vw;
        height: 90vh;
        object-fit: contain;
    }

    .about {
        #spacer1 {
            height:30vh;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
        }
    
        p {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}